{% extends 'base.html' %}
{% load static %}

{% block title %}
    Male category
{% endblock title %}

{% block container %}

<div class="container py-5">
        <div class="row">
                <!--Категории-->
            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li>
                        <a href="{% url 'male_category' %}" id="male"
                           class="collapsed d-flex justify-content-between h3 text-decoration-none">
                            Male
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'female_category' %}" id="female"
                           class="collapsed d-flex justify-content-between h3 text-decoration-none">
                            Female
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'top_category' %}" id="Top"
                           class="collapsed d-flex justify-content-between h3 text-decoration-none">
                            Top
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'bottom_category' %}" id="Bottom"
                           class="collapsed d-flex justify-content-between h3 text-decoration-none">
                            Bottom
                        </a></li>
                    <li>
                        <a href="{% url 'accessories_category' %}" id="Accessories"
                           class="collapsed d-flex justify-content-between h3 text-decoration-none">
                            Accessories
                        </a>
                    </li>
                </ul>

                <h1 class="h2 pb-4">Filter</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li>
                        <a href="{% url 'increase_price_page' %}" id="increase_price"
                           class="collapsed d-flex justify-content-between h3 text-decoration-none">
                            Increase price
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'decline_price' %}" id="decline_price"
                           class="collapsed d-flex justify-content-between h3 text-decoration-none">
                            Decline price
                        </a>
                    </li>
                </ul>
                <h1 class="h2 pb-4">
                    <a href="{% url 'shop' %}" style="text-decoration: none; color: black;">All
                    </a>
                </h1>
            </div>

            <!--ВСЕ ТОВАРЫ-->
            <div class="col-lg-9">
                <div class="row">
<!--НАЧАЛО ТОВАРА-->
                    {% for product in category %}
                    <div class="col-md-4">

                        <!--Добавление в избранное-->
                            {% if not product.is_favorite %}
                                <form method="post" action="{% url 'add_favorite' product.id %}" style="text-align: center">
                                    {% csrf_token %}
                                    <button type="submit" >Добавить в избранное</button>
                                </form>
                            {% endif %}

                        <form method="post" action="{% url 'add_item_to_cart' product.pk %}">
                            <div class="card mb-4 product-wap rounded-0">
                                <!--КАРТИНКА ПЕРВОГО ТОВАРА-->
                                <div class="card rounded-0">
                                    <a href="{% url 'shop_detail' product.pk %}">
                                        <img class="card-img rounded-0 img-fluid" src="{{ product.image_url }}"></a>
                                </div>
                                <div class="card-body" style="text-align: center;">
                                    <!--Название-->
                                    <p class="text-center mb-0"><h5 style="text-align: center;">
                                    <a style="text-decoration: none;" href="{% url 'shop_detail' product.pk %}"><h5>{{ product.name }}</h5></a></h5>

                                    <!--Количество-->
                                    <label class="form-label" for="id_quantity">Quantity</label>
                                    <p class="text-center mb-0">
                                        <input name="quantity" type="number" value="1"
                                               min="1" required id="id_quantity"></p>
                                    <!--ЦЕНА-->
                                    {% csrf_token %}
                                    <p class="text-center mb-0">{{ product.price }} rub.</p>
                                    <button type="submit">buy</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endfor %}
<!--КОНЕЦ ТОВАРА-->
                </div>
            </div>
        </div>
</div>
{% endblock container %}