{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login page
{% endblock title %}

{% block container %}
    <p>
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <label class="form-label" for="id_username">{{ attention }}</label>
            {% for error in login_form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
            <input type="text" class="form-input" placeholder="Login"
                   id="id_username"  name="username" required>

            <label for="id_password">Password: </label>
            <input type="password" class="form-input" placeholder="Password"
                   id="id_password" name="password" required>

            <input type="submit" value="OK">
        </form>

{% endblock container %}
